h1 {
    text-align: center;
    font-family: Disco revival;
    color: #001d3d;
}
body {
    background-color: #a8dadc;
    margin-left: 200px;
    font-size: 32px;
    font-family: Alternating baselines;
}
button{
    border-radius: 8px;
    background-color: #1d3557;
    color: white;
    padding: 10px;
    font-size: 15px;
}
